include ../head.pug
body
    div.message
      p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service.
    .container.mt-5
      .row.d-flex.align-items-center
        .col-md-6
          h1 Events
        .col-md-6.text-end
          a.btn.btn-success(href='/add', role='button') Add      
      table.table.table-responsive.table-striped.table-bordered.table-hover
        thead.thead-light
          tr
            th(scope="col") ID
            th(scope="col") Title
            th(scope="col") Description
            th(scope="col") Date
            th(scope="col") Location
            th(scope="col") Organizer
            th(scope="col") Actions
        tbody
script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
script.
  document.addEventListener('DOMContentLoaded', function() {
    axios.get('/api/event').then(function(response) {
      const events = response.data;
      const tableBody = document.querySelector('table tbody');
      events.forEach(t => {
        const row = document.createElement('tr');
        const event = t.event
        row.innerHTML = `
          <th (scope="row")>${t.id}</th>
          <td>${event.title}</td>
          <td>${event.description}</td>
          <td>${event.date}</td>
          <td>${event.location}</td>
          <td>${event.organizer}</td>
          <td>
            <button class="btn btn-primary btn-sm" data-id="${t.id}" onclick="window.location.href='/update/${t.id}'">Update</button>
            <button class="btn btn-danger btn-sm" data-id="${t.id}">Delete</button>
          </td>
        `;
        tableBody.appendChild(row);
      });
    })
    .catch(function(error) {
      console.log(error);
    });

    // Use event delegation for delete buttons
    document.addEventListener('click', function(event) {
      if (event.target && event.target.classList.contains('btn-danger')) {
        const eventId = event.target.getAttribute('data-id');
        axios.delete(`/api/event/${eventId}`).then(function(response) {
          alert('Deleted successfully', response);
          location.href = '/'
        })
        .catch(function(error) {
          alert('Error deleting event: ' + error);
        });
      }
    });
  });
